[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/

*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Visual Studio
.vs/
.vsconfig

# Visual Studio solution
*.slnx
Labyrinth-of-the-Forgotten-Castle.slnx